*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --grid-size: 75vmin;
    --gap-size: 2vmin;
    --cell-size: calc(var(--grid-size) / var(--num-cells));
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
}

.grid {
    background-color: #ccc;
    display: grid;
    grid-template-columns: repeat(var(--num-cells),var(--cell-size));
    grid-template-rows: repeat(var(--num-cells),var(--cell-size));
    gap: var(--gap-size);
    padding: var(--gap-size);
    border-radius: var(--gap-size);
    position: relative;
}

.cell {
    background-color: #aaa;
    border-radius: 1vmin;
}

.tile {
    top:  calc( var( --j )*(var(--cell-size) + var(--gap-size) ) + var(--gap-size) ) ;
    left:  calc( var( --i )*(var(--cell-size) + var(--gap-size) ) + var(--gap-size) ) ;

    position: absolute;

    width: var(--cell-size);
    height: var(--cell-size);
    border-radius: 1vmin;

    font-weight: bold;
    font-size: calc(var(--cell-size) * 0.4);
    line-height: var(--cell-size);
    text-align: center;

    transition: 0.2s ease-in-out;
    animation: show 0.2s ease-in-out;
}

@keyframes show {
    0%{
        transform: scale(0);
        opacity: 0.5;
    }
}

.score-container {
    margin-bottom: 2vmin;
    width: calc( var(--grid-size) + var(--gap-size) * ( var(--num-cells) + 1 ) );

    display: flex;
    justify-content: flex-end;
}

.score {
    width: calc( var(--cell-size) + 1.0 * var(--gap-size) );
    height: 6vmin;

    padding-right: 1vmin;
    border-radius: 1vmin;

    font-size: 4vmin;
    color: white;
    font-weight: bold;
    text-align: right;
    line-height: 6vmin;
    letter-spacing: 0.2vmin;

    background-color: #aaa;
}